$main-font: "Josefin sans", serif;

:root {
    --button-bluedark: #496BFE;
    --button-bluelight: #5474FD;

    --text-grey: #E8E8E8;
    --h3-white: #FEFEFE;
    --search-grey: #999999;
    --text-white: #FFFFFF;

    --container-blakc: #232323;
    --container-darkgrey: #333333;

    --icon-blue: #00A2FF;
    --icon-red: #FF6363;

}
