header {
    margin: auto;
    max-width: 1773px;
    max-height: 821px;
}

header {
    width: 100%;
    background-image: url(../images/cliff-header.png);
    background-size: cover;
    background-position: center center;
}


a, ul {
    list-style-type: none;
    text-decoration: none;
}

.container_splash {
    max-width: 100%;
    height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    width: 372px;
    font-weight: 700;
    font-size: 48px;
    color: var(--text-white);
    line-height: 1,8;
    letter-spacing: 4.8px;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: -11px;
}
.header_sub-title {
    width: 372px;
    font-weight: 400;
    font-size: 22px;
    color: var(--text-white);
    line-height: 0,8;
    letter-spacing: 6.8px;
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 48px;
}

.container_search {
    width: 652px;
    height: 63px;
    background-color: var(--text-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 54px;
    margin-left: 50px;
}

.box_destination {
    width: 503px;
    height: 26px; 
    display: flex;
    justify-content: center;
}

.search_destination {
    width: 277px;
    height: 26px;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-grey);
    line-height: 0,5;
    letter-spacing: 2.8px;
    border: none;
}

.header_button {
    display: flex;
    margin-right: 1px;
}

.button-search {
    width: 150px;
    height: 60px;
    background-color: var(--button-bluelight);
    color: var(--text-white);
    font-family: "Aleo", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0,5;
    letter-spacing: 1.4px;
    border: none;
}

.fa-magnifying-glass {
    max-width: 22px;
    max-height: 24px;
    font-size: 14px;
    color: var(--text-white);
}

.scroll {
    max-width: 108px;
    height:46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: 54px;
}

.scroll_text {
    color: var(--text-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 0,5;
    letter-spacing: 2.8px;
}

.fa-chevron-down {
    max-width: 17px;
    max-height: 11px;
    font-size: 10px;
    color: var(--text-white);
}

/* Navigation bar */
.nav {
    max-width: 1773px;
    height: 83px;
    background-color: var(--button-bluelight);
    display: flex;
    justify-content: center;
    align-items: center;

    &_list {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
    }
    &_li {
        list-style: none;
        height: 20px;
    }
    &_link {
        color: var(--text-white);
        font-weight: 400;
        font-size: 14px;
        line-height: 0,5;
    }
}

.nav-bar {
    width: 526px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-text {
    max-width: 186px;
    height: 20px;
    color: var(--text-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 2.4;
    letter-spacing: 0.9px;
    margin-top: -11px;
}

/* Hover effects */
h1:hover {
    transition:all 0.3s ease-in-out;
    color: var(--button-bluelight);
    text-shadow: 2px 2px var(--text-white);
    cursor: pointer;
}

.search_destination:hover {
    transform: scale(1.2);
}

.button-search:hover {
    color: var(--button-bluelight);
    background-color: var(--text-white);
    border: solid 2px 2px 2px 2px var(--button-bluelight);
}
/*
.nav_link::after, .nav_link::before {
    content: "";
    position: absolute;
    width: 126px;
    height: 2px;
    background: linear-gradient
}
*/