main {
    margin: auto;
    max-width: 1773px;
    max-height: 3153px;
}

a {
    text-decoration: none;
    list-style-type: none;
}

/* Section explore start */

.explore {
    max-width: 1773px;
    width: 100%;
    height: 685px;
    background-image: url(../images/castle.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.choose-us {
    max-width: 560px;
    width: 100%;
    max-height: 366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

h2 {
    max-width: 288px;
    height: 26px;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: var(--text-white);
    font-size: 36px;
    line-height: 1.4;
}
.choose_text {
    max-width: 560px;
    height: 79px;
    font-weight: 400;
    color: var(--text-grey);
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1.6px;
}

.button-main {
    width: 228px;
    height: 63px;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: var(--text-white);
    font-size: 16px;
    line-height: 0.6;
    letter-spacing: 1.2px;
    background: linear-gradient(225deg, #5474FD 119px, #496BFE 109px);
    border: none;
}

.container_img {
    max-height: 450px;
    max-width: 440px;
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sea-house {
    max-width: 350px;
    width: 100%;
    max-height: 220px;
    margin-bottom: 10px;
    margin-top: -118px;

}
.cliff-small {
    max-width: 350px;
    max-height: 220px;
    margin-left: 90px;
}

/* Hover effects start */
.button-main:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sea-house:hover, .cliff-small:hover {
    filter:blur(1px);
    border: solid 2px #5474FD;
}

/* Hover effects end */
/* Section explore end */


/* Section icons start */
.how-it-works {
    width: 100%;
    height: 340px;
    background-color: var(--container-darkgrey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.works_container {
    width: 1046px;
    height: 176px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.works_box {
    width: 245px;
    height: 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.glass, .check, .thumbsup {
    background-color: var(--container-darkgrey);
}

.icon-arch {
    width: 645px;
    height: 95px;
    margin-left: -5px;
    margin-top: 46px;
    margin-bottom: -100px;
}

.search_places, .select_places, .enjoy_places {
    font-family: "Aleo", serif;
    font-weight: 400;
    color: var(--text-white);
    font-size: 36px;
    line-height: 1.4;
}
/* Section icons end */

/* Section spain villa & rock start */
.spain_villa {
    width: 100%;
    height: 700px;
    background-image: url(../images/villa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.spain_rock {
    width: 100%;
    height: 700px;
    background-image: url(../images/mountain-sunset.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container_spain {
    width: 1200px;
    height: 374px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_spain {
    width: 543px;
    height: 374px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(35, 35, 35, 0.9);  
}


.villa {
    margin-bottom: 90px;
}

.rock {
    margin-bottom: 90px;
    margin-right: 50px;
}

.spain_sub-title {
    max-width: 80px;
    max-height: 26px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-grey);
    line-height: 0.8;
    letter-spacing: 1.5px;
    margin-left: 32px;
}

h3 {
    max-width: 241px;
    max-height: 26px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-white);
    line-height: 0.8;
    margin-left: 32px;
    margin-bottom: 2px;
}

.spain_text {
    max-width: 508px;
    max-height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-grey);
    line-height: 1.2;
    margin-left: 32px;
    margin-bottom: 46px;
}

.btn-spain {
    margin-left: 32px;
}

/* Hover effects spain start */

/* Hover effects spain end */

/* Section spain villa & rock end */



/* Section reviews start */

.reviews {
    width: 100%;
    height: 731px;
    background-image: url(../images/climber-wide.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container_review {
    max-width: 1110px;
    height: 287px;
    display: flex;
    align-items: center;
    background-color: var(--container-darkgrey); 
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.climber {
    max-width: 445px;
    height: 284px;
}

.title_reviews {
    max-width: 390px;
    height: 26px;
    margin-top: -50px;
    margin-bottom: -10px;
}

.review_text {
    max-width: 668px;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 59px;
}

h4 {
    max-width: 150px;
    height: 26px;
    font-weight: 400;
    font-size: 20px;
    color: var(--text-grey);
    line-height: 0,8;
}

.review_blocktext  {
    max-width: 581px;
    height: 161px;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-grey);
    line-height: 0,6;
}

.quotation {
    width: 36px;
    height: 36px;
    margin-right: 5px;
}

/* Hover effects reviews start */

/* Hover effects reviews end */

/* Section reviews end */

@media screen and (min-width:300px) and (max-width:600px) {
    .review_blocktext {
     font-size: 10px;
     margin-left: -30px;
     max-width: 400px;
    }
    h4 {
        font-size: 15px;
        margin-left: -30px;
    }
    .sea-house, .cliff-small {
        width: 200px;
        height: 150px;
        margin-top: 50px;
    }
    .choose-us {
        height: 120px;
        width: 70%;
        margin-top: 60px;
    }
    .choose_text {
        font-size: 12px;
    }
    .button-main {
        transform: scale(0.7);
    }
    h2 {
        font-size: 17px;
    }
    .container_spain {
        display: flex;
        justify-content: center;
    }
 }